@use "../../../styles" as *;

.main {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.page_box {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1200px;
}

.page_header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: $green;
}
