@use "../../../styles" as *;

.main {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.form {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1200px;
}

.title {
  color: $green;

  @include media-query($tablet-s) {
    font-size: 24px;
  }
}

.paper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.input {
  width: 100%;
}

.input_box {
  display: flex;
  gap: 64px;
  justify-content: space-between;

  @include media-query($tablet-s) {
    flex-direction: column;
    gap: 32px;
  }
}

.button_box {
  display: flex;
  justify-content: space-between;
}
